{% extends "index.html" %}

{% block title %}
    Convertor 999
{% endblock %}

{% block main %}
<form action="/" method="post" enctype="multipart/form-data">
    <label for="pdf">Upload your PDF:</label>
    <input type="file" id="pdf" name="file[]" accept=".pdf" required><br><br>
    <input type="submit" value="Upload">
</form>

<h2>Uploaded Files:</h2>
{% if files %}
        {% for file in files %}
            <div class="file-item">
                <span>{{ loop.index }}. </span>
                <a href="{{ url_for('uploaded_file', filename=file) }}" target="_blank">{{ file }}</a>
                <form action="{{ url_for('delete_file', filename=file) }}" method="POST" style="display:inline;">
                    <button class="remove" type="submit">Remove</button>
                </form>
            </div>
        {% endfor %}
{% else %}
    <p>No files uploaded yet.</p>
{% endif %}

{% if files | length == 1 %}
<h2>Choose a conversion:</h2>
<p>Upload successful! Select a format to convert the PDF to:</p>

<p>
    <a href="/convert/{{ files[0] }}/image">Convert to Images (JPEG/PNG)</a>
</p>
<p>
    <a href="/convert/{{ files[0] }}/text">Convert to Text</a>
</p>
<p>
    <a href="/convert/{{ files[0] }}/word">Convert to Word (DOCX)</a>
</p>
{% else %}
    <p>Upload ONE PDF only to start extraction.</p>
{% endif %}

{% endblock %}
